{% extends "base.html" %}

{% block title %}Rutas Guardadas - BussBot{% endblock %}

{% block content %}
    {% load static %}

    <div class="main-content container">
        <div class="sidebar" style="display: flex; flex-direction: column; max-height: 575px;">
            <div class="saved-routes-container">
                <h3 class="saved-routes-title">Rutas guardadas</h3>
                {% for route in favorite_routes %}
                    <div class="route-card" style="margin-bottom: 20px;">
                        <div style="display: flex; align-items: center;">
                            <h5 style="margin-right: 10px;">{{ route.nombre }} ⭐</h5>
                            {% if route.id %}
                                <form method="post" action="{% url 'delete_route' route.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                </form>
                            {% else %}
                                <p>Error: Esta ruta no tiene un ID válido.</p>
                            {% endif %}
                        </div>                        
                    </div>
                {% empty %}
                    <p>No tienes rutas guardadas.</p>
                {% endfor %}
            </div>
            <div style="margin-top: auto">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
                </form>
            </div>
        </div>       

        <div class="map-container" style="flex-grow: 1">
            <div id="mapid" style="height: 400px;"></div>
        </div>
    </div>
    
    <script>
        var busIconUrl = "{% static 'images/icono-bus.png' %}";

        var favoriteRoutes = [
            {% for route in favorite_routes %}
                {
                    nombre: "{{ route.nombre }}",
                    coordenadas: {{ route.coordenadas|safe }}
                },
            {% endfor %}
        ];
        console.log(favoriteRoutes);
    </script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script src="{% static 'js/busRutasFavoritas.js' %}"></script>
{% endblock %}
